{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- {% bootstrap_css %} -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>BeRealMotors Spare Parts Company</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- Raleway font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  <!-- Montserrat font -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0a2463;">

    <div class="container-fluid">

      <a>
        <img src="{% static 'css/image/logo.png' %}" alt="logo" width="60" height="60" style="border-radius: 30px;"
          class="d-inline-block align-text-top">
      </a>
        

        <a href="#" class="navbar-brand" style="margin-left: 10px;color: white;">BeReal</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">


            <div class="navbar-nav ms-auto">    
              {% if user.is_authenticated %}         

                <a href="{% url 'home' %}" class="nav-item nav-link active" style="color: white;">Home</a>

                <a href="{% url 'receipt' %}" class="nav-item nav-link" style="color: white;">Receipts</a>

                <a href="{% url 'all_sales' %}" class="nav-item nav-link" style="color: white;">All sales</a>

               <a href="{% url 'index' %}" class="nav-item nav-link" style="color: white;" >Logout</a>
               {% endif %}
            </div>

        </div>

    </div>

</nav>

  {% block content %}

  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  </div>

  <footer>
    &copy; BeRealMotor Spare Parts Company <br>
    Genuine solutions to your machinery<br>
  
  </footer>
</body>

</html>