{% extends 'dan/base.html' %}
{% block content%}
<br></br>
<h1 class="text-center">SEARCH ITEMS FROM HERE</h1>

<div class="container" style="width: 80%;">
  <form action="" method="GET" class="product_filters">
    {{product_filters.form}}
    <input type="submit" value="Search" class="btn btn-primary" />
  </form>
</div>

<h1 class="text-center">ITEMS IN STOCK</h1>

<div class="container" style="padding-top: 0%;">
  
  <br>
  <table class="table" style="margin-right: 600px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Part number</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    {% for product in products%}
    <tbody class="table">
      <div class="table-data">
        <tr>
          <div class="table-items">
            <td style="font-weight: 900;">{{product.Category_name}}</td>
            <td style="font-weight: 900;">{{product.item_name}}</td>
            <td style="font-weight: 900;">BRM-{{product.id}}</td>
            <td style="font-weight: 900;">{{product.total_quantity}}</td>
            <td style="font-weight: 900;">UGX{{product.unit_price}}</td>
            <td><a href="{% url 'product_detail' product.id %}">
                <input type="submit" value="BUY ITEM" class="btn btn-primary" type="button" /></a></td>
          </div>
      </div>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<br><br><br><br><br>

{% endblock%}