<!-- we are loading all the static files -->
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <!-- You can link more than one css file on your html file -->
  <!-- we are linking a particular file of css -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  

</head>


<body>

  <ul class="nav justify-content-end" style="background-color:#0a2463">
    <li class="nav-item">

      <a class="nav-link active" aria-current="page" href="{% url 'login' %}"><button class="btn btn-primary">
          Login</button></a>
    </li>

  </ul>

  <h1 style="color: black;"><em>BeRealMotor Spare Parts company</em></h1>
  <h2 style="color: black;"><em>Dealers in selling Engine parts, Used tyres and Batteries</em></h2>

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="margin: 0% 25%;">
      <div class="carousel-item active">
        <img src="{% static 'css/image/maxxis.jpg' %}" class="d-block w-50" alt="">
      </div>
      <div class="carousel-item">
        <img src="{% static 'css/image/batteries.jpg' %}" class="d-block w-50" height="300" alt="">
      </div>
      
      <div class="carousel-item">
        <img src="{% static 'css/image/images.jpg' %}" class="d-block w-50" alt="">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="footer">
    <footer>

      <a
        href="https://www.google.com/maps/place/Kiseka+Ln,+Kampala/@-7.8684447,13.1309901,3.14z/data=!4m6!3m5!1s0x177dbb69ac7bd589:0xd7dfa0e2a8c838!8m2!3d0.3254763!4d32.5626212!16s%2Fg%2F11j61d9pm3?entry=ttu">Location
        of the company<br>

      </a>
      <p>Developed by Esther Auma <br>
      Email me at estheraumaegoo@gmail.com</p><br>
    </footer>
  </div>
</body>
<!-- how to embade a js file into our html file-->
<script src="{% static 'Js/script.js'%}"></script>

</html>