{% extends 'dan/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<br />
<div class="container">
<form method="POST" action="" enctype="multipart/form-data" style="padding-left: 400pz;">
    <h1 class="text-center" style="font-size: 30px;">SALES FORM</h1>
    <div class="form" style=" padding: 15px;background-color: gainsboro;max-width: 50%;margin-left: 300px;">
        <br />
        {% csrf_token %}
        {{sales_form | crispy}}
        
        <button class="btn btn-primary btn" type="submit" style="margin-left: 170px;width: 200px;">Buy Now</button>

    </div>
</form>
</div>
<br>
<br>
<br>
{% endblock %}