{% extends 'dan/base.html'%} {% block content%}
<br></br>

<div class = "container" style="margin-top: 40px;">
    <a href="{% url 'issue_item' product.id %}" ><input type="submit" value="Open Sales Form" class="btn btn-primary" style="font-weight: bold;" type="button"/></a>
    <a href="{% url 'add_to_stock' product.id %}" ><input type= "submit" value="Add Stock" class="btn btn-primary" style="font-weight: bold;" type="button"/></a>
</div>

<br></br>
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>   
      </tr>
    </thead>
    <tbody>
      <tr>    
        <td>{{product.Category_name}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>UGX{{product.unit_price}}</td>   
      </tr>
    </tbody>  
  </table>
</div>
{% endblock %}