{% extends 'dan/base.html'%} {% block content%}
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">ORDER SUMMARY</h3><br>
          <h2 class="lead" style="font-weight: bolder;">Customer Name: {{receipt.issued_to | title}}</h2>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead style="background-color: black; color: white;">
                <tr>
                  <td><strong>Item Name</strong></td>
                  <td class="text-xs-center"><strong>Item Quantity</strong></td>
                  <td class="text-xs-right"><strong>Total Bill(Ugx)</strong></td>
                  <td class="text-xs-right"><strong>Amount Paid(Ugx)</strong></td>
                  <td class="text-xs-right">
                    <strong>Total change(UgX)</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-weight: bolder;">{{receipt.item| title}}</td>
                  <td class="text-xs-center" style="font-weight: bolder;">{{receipt.quantity }}</td>
                  <td class="text-xs-center" style="font-weight: bolder;">Ugx{{receipt.get_total | title}}</td>
                  <td class="text-xs-right" style="font-weight: bolder;">Ugx{{ receipt.amount_recieved }}</td>
                  <td class="text-xs-right" style="font-weight: bolder;">Ugx{{ receipt.get_change }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}