{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>UPDATE</title>
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
</head>
<body>
    <div class="container">
        <h1>Update Spare Parts</h1>

        
            <form class="essy">
                <div class="mb-3">
                  <label for="SparePart" class="form-label">Spare Part Name:</label>
                  <input type="part_name" class="form-control" id="exampleInputPart" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="part_number" class="form-label">Spare Part Number:</label>
                  <input type="number" class="form-control" id="exampleInputNumber" required>
                </div>
                Arrival Date:<br> 
                <input name="arrival_date" class="form-control date" type="date"> 
                <br><br> 
                  <div class="mb-3">
                    <label for="initial_stock" class="form-label">Total initial Stock:</label>
                    <input type="stock" class="form-control" id="exampleInputStock" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3"> 
                    <label for="country" class="form-label">Country:</label> 
                     <div class="col-12">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref" required>
                          <option selected>Choose...</option>
                          <option value="1">Japan</option>
                          <option value="2">Germany</option>
                          <option value="3">Dubai</option>
                        </select>
                      </div>
                   </div> 
                  <div class="mb-3">
                    <label for="brand_name" class="form-label">Brand Name:</label>
                    <input type="brand" class="form-control" id="exampleInputBrand" aria-describedby="emailHelp">
                    
                  <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref" required>
                          <option selected>Choose...</option>
                          <option value="1">Engine parts</option>
                          <option value="2">Used tires</option>
                          <option value="3">Batteries</option>
                        </select>
                      </div>
                  
              <button type="submit" class="btn btn-success">Submit</button> 
          </form>







        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>