body {
   
    background-color: #cae9ff;
    overflow-x: hidden;
};
    




.form {
    width: 40%;
    margin-left: 50px;
}

.navbar {
    background-color:#27187e;
    height: 60px;
    color: white;
    
}

.navbar li a {
    font-size: 20px;
    
    
}

.navbar-brand {
    font-size: 25px !important;
    
}

@media(max-width: 767px){
    form { 
        width: 90%;
    }
}

.text-center{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

.container{
    margin-left: 55px;
}

.filter{
    margin-right: 450px;
}

.table{
    background-color:#e1e5f2;
    margin-right: 450px;
}



.receipt-title{
    text-align: center;
    background-color:#e1e5f2 ;
}
.card-block{
    background-color: #e1e5f2;
}


/* Base styles for container and card */
.container {
    padding: 10px;
  }
  
  .card {
    max-width: 60%;
    
    border-style: dotted;
    background-color:#e1e5f2 ;
  }
  
  /* Media query for screens up to 768px width */
  @media (max-width: 768px) {
    .container {
      padding: 5px;
    }
}

    .card {
      max-width: 80%;
      margin-left: 0;
      margin-right: 0;
      margin-left: 150px;
    }
  
    /* Adjust other styles for smaller screens */
  



  footer{
    position: fixed;
    background-color:#0a2463;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 67px;
    width: 100%;
    padding-top: 10px;
    color:white;
  }

  .table-data{
    border: 2px solid black;
  }

  

  

  

  